body{
    background-color: #ffe1e1;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    text-align: center;
    color:#524e4e;
    font-weight: bold;
}

#main{
    align-content: center;
    float: center;
    width: max-content;
    margin: auto;
}
.flex {
    display: flex;
    flex-wrap: wrap-reverse;
   
  }
#todoText{
    outline: none;
    border: 2px solid #524e4e;
    font-size: 15px;
    border-radius: 5px;

}
  
#addButton{
    height: 50px;
    text-align: center;
    background-color:#524e4e ;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 10px;
    border-style: hidden;
    margin-left: 10px;

}
#addButton:hover{
    box-shadow: 1px 1px 4px #524e4e;
}
#deleteButton{
    background:url('images/delete.png') no-repeat left center;
    height:73px;
    margin-right: auto;
}
#lists{
    margin-top:30px;
    align-content: center;

}